sudo: required
addons:
  ssh_known_hosts: qgis-dev.boundlessgeo.com
  hosts:
  - boundless-test
services:
- docker
env:
  global:
  - PLUGIN_NAME=ee_plugin
  matrix:
  - QGIS_VERSION_TAG=master PYTHON_EXECUTABLE=python3 PIP_EXECUTABLE=pip3
before_install:
- docker pull elpaso/qgis-testing-environment:${QGIS_VERSION_TAG}
- docker tag elpaso/qgis-testing-environment:${QGIS_VERSION_TAG} qgis-testing-environment
install:
- docker run -d --name qgis-testing-environment -v ${TRAVIS_BUILD_DIR}:/tests_directory -e DISPLAY=:99 qgis-testing-environment
- sleep 10
- docker exec -it qgis-testing-environment sh -c "qgis_setup.sh ${PLUGIN_NAME}"
- docker exec -it qgis-testing-environment sh -c "$PIP_EXECUTABLE install paver"
script:
- docker exec -it qgis-testing-environment sh -c "cd /tests_directory && paver setup && paver package --tests && qgis_testrunner.sh ${PLUGIN_NAME}.tests.testerplugin.run_tests"
