# base dependencies
-r requirements.txt  # Include all main requirements

# Development dependencies
pytest
pytest-cov
pytest-qgis
pytest-timeout
pre-commit
bandit
flake8
flake8-qgis>=2.0.1; python_version >= "3.10"
future
rasterio
qgis-plugin-ci
pyOpenSSL
